@import 'react-toastify/dist/ReactToastify.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}
body{
  -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.custom_scrollbar::-webkit-scrollbar {
  overflow-y: auto;
  overflow-y: overlay;
  scrollbar-gutter: stable both-edges;
  position: fixed;
  width: 5px;
  background-color: transparent;
  right: 10px;
  top:0;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
  position: fixed;
  right: 10px;
  top:0;
  background-color: #ddddddc1; /* Set the color of the thumb */
}


.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.ani-delay-50{
  animation-delay: 500ms;
}

.ani-delay-100{
  animation-delay: 1000ms;
}


.animate-shimmer {
  animation: shimmer 1.2s infinite linear;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7));
  background-size: 200px 100%;
}


@keyframes shimmer {
  0% {
      background-position: -100px 0;
  }

  100% {
      background-position: 100px 0;
  }
}